<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Crear Grupo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('main.create_group') }}">Crear Grupo</a></li>
                <li><a href="{{ url_for('main.add_expense') }}">Añadir Gasto</a></li>
                <li><a href="{{ url_for('main.login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('main.register') }}">Registrar</a></li>
                <li><a href="{{ url_for('main.transactions') }}">Ver Transacciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Crear Grupo</h1>
        <form action="{{ url_for('main.create_group') }}" method="post">
            <label for="group_name">Nombre del Grupo:</label>
            <input type="text" id="group_name" name="group_name" required>
            <br>
            <label for="members">Miembros (separados por coma):</label>
            <input type="text" id="members" name="members" required>
            <br>
            <input type="submit" value="Crear Grupo">
        </form>
    </main>
</body>
</html>
