<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Transacciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Inicio</a></li>
                <li><a href="{{ url_for('main.create_group') }}">Crear Grupo</a></li>
                <li><a href="{{ url_for('main.add_expense') }}">Añadir Gasto</a></li>
                <li><a href="{{ url_for('main.login') }}">Iniciar sesión</a></li>
                <li><a href="{{ url_for('main.register') }}">Registrar</a></li>
                <li><a href="{{ url_for('main.transactions') }}">Ver Transacciones</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Transacciones</h1>
        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>Deudor</th>
                    <th>Acreedor</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction[0] }}</td>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('main.index') }}">Regresar</a>
    </main>
</body>
</html>
